<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Habit Tracker</title>
  <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
  <div class="container">
    <div class="goal-list">
      <div class="goal checked">
        <span>Goal name</span>
        <div class="checkmark">✔</div>
      </div>
      <div class="goal checked">
        <span>Goal name</span>
        <div class="checkmark">✔</div>
      </div>
      <div class="goal">
        <span>Goal name</span>
        <div class="checkmark"></div>
      </div>
      <div class="goal">
        <span>Goal name</span>
        <div class="checkmark"></div>
      </div>
    </div>

    <div class="side-buttons">
      <a href="/addGoal"><img src="images/plus.png" alt="Add Goal" /></a>
      <img src="images/minus.png" alt="Remove Goal" />
      <a href="/logout"><img src="images/logout.png" alt="Logout"/></a>
  </div>
</body>
</html>
