<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Daily Goal Tracker</title>
    </head>
    <br>
    <body>
        <h1>Today's Goals</h1>
    </body>
    <br>
    <table>
        <tr>
            <th>Habit Name</th>
            <th>Description</th>
            <th>Completed?</th>
        </tr>
        <tr th:each="habit : ${habits}">
            <td th:text="${habit.name}"></td>
            <td th:text="${habit.description}"></td>
            <td><input type="checkbox" th:id="${habit}"></td> 
        </tr>

    </table>
</html>
