<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Daily Goal Tracker</title>
    </head>
    <br>
    <body>
        <h1>Today's Goals</h1>
    </body>
    <br>
    <table>
        <tr>
            <th>Habit Name</th>
            <th>Description</th>
            <th>Completed?</th>
        </tr>
        <tr th:each="habit : ${habits}">
            <td th:text="${habit.name}"></td>
            <td th:text="${habit.description}"></td>
            <td><input type="checkbox" th:checked="${habit.checked}"></td> <!-- may need to fix this -->
        </tr>
    </table>

    <br><br>
    <a href="/logout"><button>Logout</button></a>
    <a href="/addGoal"><button>Add Goal</button></a>
    <a href="/removeGoal"><button>Remove Goal</button></a>
</html>