<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Habit Tracker</title>
  <link rel="stylesheet" href="/src/main/resources/static/styles.css" />
</head>
<body>
  <div class="container">
    <div class="goal-list">
      <div class="goal checked">
        <span>Goal name</span>
        <div class="checkmark">✔</div>
      </div>
      <div class="goal checked">
        <span>Goal name</span>
        <div class="checkmark">✔</div>
      </div>
      <div class="goal">
        <span>Goal name</span>
        <div class="checkmark"></div>
      </div>
      <div class="goal">
        <span>Goal name</span>
        <div class="checkmark"></div>
      </div>
    </div>

    <div class="side-buttons">
      <button id="addGoal"><img src="/src/main/resources/static/images/plus.png" alt="Add Goal" /></button>
      <button id="removeGoal"><img src="/src/main/resources/static/images/minus.png" alt="Remove Goal" /></button>
      <button id="logout" href="/logout"><img src="/src/main/resources/static/images/logout.png" alt="Logout"/></button>
  </div>
</body>
</html>
