<!DOCTYPE html>
<html lang="en">
<head>
    <title>Goal Tracker Login</title>
</head>
<body>
    <h1>Login Page</h1>

    <form action="loginAttempt" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password"><br><br>
    <input type="submit" value="Submit">
    </form>

    <br><br>
    <label for="hyper">Don't have an account?</label><br>
    <a href="createAccount" id="hyper">Create Account</a>
</body>

</html>